{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<link rel="icon" href="{% static 'polls/favicon.svg' %}" type="image/x-icon"/>
<link rel="shortcut icon" href="{% static 'polls/favicon.svg' %}" type="image/x-icon"/>

<form action="{% url 'auth:register' %}" method="post">
{% csrf_token %}
{{ form.as_ul }}
<input type="submit" value="Register">
</form>
<a href="{% url 'auth:login' %}">Have an account? login here.</a>
